* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body,
html {
  height: 100%;
}
section {
  border: 2px dotted rgb(0, 140, 255);
}
div {
  border: 2px dotted red;
}
/* Top section */

.top-menu {
  height: 6vh;
  display: flex;
  justify-content: space-between;
}

.top-menu nav ul {
  list-style: none;
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
}

/* Logo */

.logo img {
  width: 10vw;
  height: 5vh;
}

/* Search bar */

.search-bar {
  display: flex;
  align-items: center;
}

/* Menu on the top right side */

.top-right-menu {
  display: flex;
  align-items: center;
}

/* Menu bar on the left side  */

.left-side-bar-main-wrapper {
  background-color: black;
  display: flex;
  flex-direction: row;
  width: 18vw;
  height: 94vh;
}

.left-side-main-top-div {
}

.left-side-main-middle-div {
}

.left-side-main-bottom-div {
}
